{:site-title           "(ollie {:on :parens})"
 :author               "Oliver Caldwell"
 :description          "On languages and text editors."
 :site-url             "https://oli.me.uk/"
 :post-root            "posts"
 :page-root            "pages"
 :post-root-uri        ""
 :page-root-uri        ""
 :tag-root-uri         ""
 :author-root-uri      ""
 :blog-prefix          "/"
 :rss-name             "feed.xml"
 :rss-filters          []
 :recent-posts         3
 :post-date-format     "yyyy-MM-dd"
 :archive-group-format "yyyy MMMM"
 :sass-src             []
 :sass-path            "sass"
 :compass-path         "compass"
 :theme                "blue"
 :resources            ["img" "CNAME"]
 :keep-files           [".git"]
 :disqus?              true
 :disqus-shortname     "olimeuk"
 :ignored-files        [#"\.#.*" #".*\.swp$"]
 :posts-per-page       5
 :blocks-per-preview   2
 :previews?            true
 :clean-urls?          true
 :hide-future-posts?   true
 :klipse               {:settings {:selector ".klipse-cljs"
                                   :selector-reagent ".klipse-reagent"
                                   :selector-eval-scheme ".klipse-scheme"
                                   :selector-eval-js ".klipse-js"}}
 :debug?               false}
